.hero-container {
  min-height: calc(100vh - 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow-x: hidden;
}

.hero-image {
  height: 25rem;
  width: auto;
}

.hero-image img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  filter: drop-shadow(6px 6px 6px var(--teal-dark-transparent));
}

.about-text h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--teal-darker);
}

.about-text h1 {
  font-size: 3rem;
  color: var(--teal-dark);
}

.about-text p {
  color: var(--grey);
}

.hero-btn {
  position: relative;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
  padding: 0.25rem 0;
  display: flex;
  cursor: pointer;
  border-radius: 1rem;
  z-index: 1;
  overflow: hidden;
}

.hero-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transform: translateX(-77%);
  background-color: var(--teal-dark);
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.hero-btn:hover:before {
  transform: translateX(0);
}

.hero-btn-icon {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--white);
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.hero-btn-text {
  padding: 0.25rem 0.75rem 0.25rem 0;
  color: var(--black);
  transition: 0.5s ease-in-out;
}

.hero-btn:hover .hero-btn-icon {
  transform: translateX(0.25rem);
}

.hero-btn:hover .hero-btn-text {
  color: var(--white);
}

@media screen and (max-width: 960px) {
  .hero-container {
    padding-top: 1.5rem;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
  }

  .hero-image {
    height: 12.5rem;
  }

  .about-text {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.2rem;
  }

  .about-text h1 {
    font-size: 1.8rem;
  }
}
