.work-container {
  height: calc(100vh - 4.5rem);
}

.carousel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-title {
  font-size: 2.5rem;
  background-color: var(--teal-dark);
  color: var(--white);
  border-radius: 0.25rem;
  text-align: center;
  margin-right: 1rem;
}

.carousel-images {
  position: relative;
  height: 100%;
  width: 60vw;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  margin: auto;
  inset: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  border: 0.125rem solid var(--teal-darker);
}

.carousel-btn {
  border: 0;
  cursor: pointer;
  padding: 1rem 0.25rem;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--teal-dark);
  transition: 0.2s ease-in-out;
  display: grid;
  place-items: center;
}

.carousel-btn-text {
  display: none;
}

.carousel-btn svg {
  position: relative;
  transition: 0.2s ease-in-out;
}

.carousel-btn:hover {
  background-color: var(--teal-darker);
}

.left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.left:hover svg {
  transform: translateX(-0.125rem);
}

.right:hover svg {
  transform: translateX(0.125rem);
}

@media screen and (max-width: 960px) {
  .carousel {
    flex-direction: column;
    position: relative;
  }

  .carousel-title {
    position: absolute;
    top: 10vh;
    z-index: 1;
    margin: 0 auto;
    font-size: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .carousel-images {
    width: 99vw;
  }

  .carousel-image {
    filter: drop-shadow(4px 4px 8px var(--teal-dark-transparent));
  }

  .carousel-btn {
    width: 50%;
    position: absolute;
    bottom: 10vh;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .carousel-btn-text {
    display: inline;
    font-size: 1.5rem;
  }

  .left {
    left: 0;
    border-right: 1px solid var(--white);
  }

  .left span {
    margin: 0 auto;
  }

  .right {
    right: 0;
    border-left: 1px solid var(--white);
  }

  .right span {
    margin: 0 auto;
  }
}
