@import url("https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mina", sans-serif;
}

:root {
  --teal-light: rgb(20, 184, 166);
  --teal-medium: rgb(13, 148, 136);
  --teal-dark: rgb(15, 118, 110);
  --teal-dark-transparent: rgba(4, 47, 46, 0.5);
  --teal-darkest: rgb(4, 47, 46);
  --white: rgb(250, 250, 250);
  --black: rgb(9, 9, 11);
}
